<div class="mb-4 d-flex gap-2">
    <input type="text"
           class="form-control"
           placeholder="Buscar película por nombre..."
           value="@SearchText"
           @oninput="HandleInput" />
    @if(!string.IsNullOrWhiteSpace(SearchText))
    {
        <button class="btn btn-danger text-light  btn-outline-secondary color" @onclick="ClearSearch">
            x
        </button>
    }
</div>

@code {
    [Parameter]
    public string SearchText { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> SearchTextChanged { get; set; }

    private async Task HandleInput(ChangeEventArgs e)
    {
        var value = e.Value?.ToString() ?? string.Empty;
        SearchText = value;
        await SearchTextChanged.InvokeAsync(value);
    }

    private async Task ClearSearch()
    {
        SearchText = string.Empty;
        await SearchTextChanged.InvokeAsync(SearchText);
    }
}
